body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.table-bordered th{
	color:white;
	background: #000;
	text-align: center;
	padding: 0px !important;
}
.header-div{
	padding: 8px !important;
}
th .fa{
	cursor: pointer;
	font-size: 10px;
}
.fa{
	padding: 2px;
}
.fa:hover{
	opacity: 0.6;
}
.fa-chevron-down.header-sort{
	position: absolute;
    margin-top: 7px;
}
.fa-chevron-up.header-sort{
	position: absolute;
    margin-top: -3px;
}
th div span{
	position: absolute;
	margin-left:-5px;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #000;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
