body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.table-bordered th{
	color:white;
	background: #000;
	font-weight: 500;
	text-align: center;
	padding: 0px !important;
}
.header-div{
	padding: 8px !important;
}
th .fa{
	cursor: pointer;
	font-size: 10px;
}
.fa{
	padding: 2px;
}
.fa:hover{
	opacity: 0.6;
}
.fa-chevron-down.header-sort{
	position: absolute;
    margin-top: 7px;
}
.fa-chevron-up.header-sort{
	position: absolute;
    margin-top: -3px;
}
th div span{
	position: absolute;
}
