body {
  margin: 0;
  padding: 5%;
  font-family: sans-serif;
}
.App {
  text-align: center;
}
.table-bordered{
	border: 1px solid black;
}
.table-bordered th{
	border: 1px solid black;
	padding: 10px;
	color:white;
	background: #000;
	font-weight: 500;
}
th .fa{
	cursor: pointer;
	font-size: 10px;
}
.fa{
	padding: 2px;
}
.fa:hover{
	opacity: 0.6;
}
.fa-chevron-down{
	position: absolute;
    margin-top: 5px;
    /*margin-left: 10px;*/
}
.fa-chevron-up{
	position: absolute;
    margin-top: -5px;
    /*margin-left: 10px;*/
}
span{
	position: absolute;
    width: 30px;
    height: 20px;
}
.col-xs-8,.col-xs-3{
	padding:5px !important;
}
